html, body { width: 1020px; height: 100%; margin:0}

#main {
    width: 500px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#main .item {
    width: 100%;
    padding: 10px;
}

#map_wrap {width: 500px; float:right;padding:8px;}
#map { height: 500px;clear:right;}